@mixin flex-row{
  display: flex;
  flex-direction:row;
}

.middle-center{
  display: flex;
  justify-content:center;
  align-items:center;
}

.middle{
  display: flex;
  align-items:center;
}

.center{
  margin: 0 auto;
}
