// clearfix
@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

// ブロックを連続して並べる時に、mariginを用いてブロック同士の境目を表現する
@mixin border-line {
  margin-top: 1px;
}

// ブロックが取りうる最大のサイズを指定する
@mixin full-size{
  width: 100%;
  height: 100%;
}

// 指定した要素を右に寄せる
@mixin arrow-right{
  position: absolute;
  right: 16px;
}

// アニメーションが変化するまでの時間を指定する
@mixin tranzaction($time: 0.3s){
  -webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  -o-transition: all $time ease;
  transition: all $time ease;
}

@mixin flex-row{
  display: flex;
  flex-direction:row;
}

@mixin input-box {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px 16px 8px 16px;
}

@mixin border-padding {
  padding: 40px;
  border-bottom: 1px solid #f3f1f2;
}

@mixin font-height {
  font-size: 16px;
  line-height: 1.5;
}

// ブロックの上下左右に対応して中心に置く
.middle-center{
  display: flex;
  justify-content:center;
  align-items:center;
}

.middle{
  display: flex;
  align-items:center;
}

.center{
  margin: 0 auto;
}


// aタグの下線を無効にする記述
.decoration-none{
  text-decoration: none;
}

// 「必須」「任意」とかのやつ
@mixin badge-status($color){
  margin-bottom:10px;
  border-radius: 3px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  background-color: $color;
  border: solid 1px $color;
}

// サインアップ画面で用いるボタン
@mixin link_botton($block-type,$background-color,$border-color,$font-color){
  height: 50px;
  width: 100%;
  display: $block-type;
  margin-bottom: 20px;
  line-height: 50px;
  text-decoration: none;
  color: $font-color;
  background-color: $background-color;
  border: solid 1px $border-color;
}

// ログイン画面で用いるボタン
@mixin login_botton($block-type,$font-color,$background-color,$border-color){
  height: 42px;
  width: 100%;
  display: $block-type;
  line-height: 42px;
  color:$font-color;
  background-color: $background-color;
  border: solid 1px $border-color;
}

// 普通のフォーム
@mixin normal-form(){
  margin-top: 10px;
  padding: 15px 0 15px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 97%;
  font-weight: 300;
}

// 小さいフォーム（first-name,last-name）のような場面で使う
@mixin small_form(){
  &-left{
    margin: 10px 10px 0 0;
    padding: 15px 0 15px 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 60%;
  }
  &-right{
    margin: 10px 0 0 10px;
    padding: 15px 0 15px 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 60%;
  }
}

