// 背景色
.back-gray{
  background-color:#eee;
}

.back-silver {
  background-color:#fafafa;
}

.back-red{
  background-color: #ea352d;
}

.marginT-8px{
  margin-top: 8px;
}


$merukari-red:#ea352d;

$merukari-blue:#0099e8;

$merukari-gray:#f5f5f5;

$facebook-navy:#385185