.pickup__item__box__content
  .pickup__item__box__content__link
    .pickup__item__box__content__link__figure
      = image_tag 'index_keyvisual.png', size: "200x220"
    .pickup__item__box__content__link__body
      %h3.pickup__item__box__content__link__body__name キャンプ用品
      .pickup__item__box__content__link__body__num
        %p.pickup__item__box__content__link__body__num__price ¥500
        %p.pickup__item__box__content__link__body__tax ♡100