.pickup__item__box__content
  = link_to item_path(item) do
    .pickup__item__box__content__link
      - if item.item_state_id == 3
        .sold-item-big
          .sold-item--text-big SOLD
      = image_tag item.item_images.first.image_url,class: "top_image",alt: "商品画像", size: "213x220"
      .pickup__item__price
        ￥
        = item.price
    .pickup__item__box__content__link__body
      .pickup__item__box__content__link__body__name
        = item.name
