%header.main-header
  .main-header-inner
    .main-header-inner-top
      .main-header-inner-top__left
        = link_to "https://www.mercari.com/jp/", class:"content" do
          = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3270184656", size: "134x36", alt: "メルカリロゴ", class: "header__box__top__link__image"
      .main-header-inner-top-right
        .main-header-inner-top-right-form
          %form
            %input.input-default{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
        .main-header-inner-top-right-musimegane
          %i.fa.fa-search
    .main-header-nav-box
      %nav.l-left
        %ul.main-header-nav
          %li
            %h2
              .main-header-nav-root.list-parent
                %i.icon-list.pc-header-cat-brand-icon
                %span カテゴリーから探す
            %ul.main-header-nav-parent-wrap
            %i.icon-search
            %li
              %h2
                .main-header-nav-root.list-parent
                  %i.icon-tag.main-header-cat-brand-icon
                  %span ブランドから探す
      %nav.l-right
        %ul.main-header-user-nav
          %li
            .main-header-menu-link
              %i.fa.fa-bell
              %span お知らせ
              %li
                .main-header-menu-link
                  %i.fa.fa-check
                  %span やることリスト
                %li
                  .main-header-user-icon.pc-header-menu-link
                    = link_to '/jp/mypage', class: "contents" do
                      マイページ
