.left-content
  .left-content__bar
    %ul
      %li.notborder
        %a{href: "/mypage"} マイページ
        %i.fa.fa-chevron-right
      %li
        %a お知らせ
        %i.fa.fa-chevron-right
      %li
        %a やることリスト
        %i.fa.fa-chevron-right
      %li
        %a いいね！一覧
        %i.fa.fa-chevron-right
      %li
        %a{href: "/items/new"} 出品する
        %i.fa.fa-chevron-right
      %li
        %a{href: "/mypage/listing"} 出品した商品-出品中
        %i.fa.fa-chevron-right
      %li
        %a{href: "/mypage/in_progress"} 出品した商品-取引中
        %i.fa.fa-chevron-right
      %li
        %a{href: "/mypage/completed"} 出品した商品-売却済み
        %i.fa.fa-chevron-right
      %li
        %a{href: "/mypage/purchase"} 購入した商品-取引中
        %i.fa.fa-chevron-right
      %li
        %a{href: "/mypage/purchased"} 購入した商品-過去の取引
        %i.fa.fa-chevron-right
      %li
        %a ニュース一覧
        %i.fa.fa-chevron-right
      %li
        %a{href: "/mypage/review"} 評価一覧
        %i.fa.fa-chevron-right
      %li
        %a ガイド
        %i.fa.fa-chevron-right
      %li
        %a お問い合わせ
        %i.fa.fa-chevron-right
  .left-content__bar
    %h4 メルペイ
    %ul.marginT-8px
      %li
        %a 売上・振込申請
        %i.fa.fa-chevron-right
      %li
        %a ポイント
        %i.fa.fa-chevron-right
  .left-content__bar
    %h4 設定
    %ul.marginT-8px
      %li
        %a プロフィール
        %i.fa.fa-chevron-right
      %li
        %a{href: "/mypage/deliver_address"} 住所変更
        %i.fa.fa-chevron-right
      %li
        %a{href: "/mypage/card"} 支払い方法
        %i.fa.fa-chevron-right
      %li
        %a メール/パスワード
        %i.fa.fa-chevron-right
      %li
        %a{href: "/mypage/new"} 本人情報
        %i.fa.fa-chevron-right
      %li
        %a 電話番号の確認
        %i.fa.fa-chevron-right
      %li
        %a{href: "/mypage/logout"} ログアウト
        %i.fa.fa-chevron-right