// このページはユーザ登録画面の上部、進行中の登録ステップを明示するバーのcss
.step_bar {
  width: 50%;
  height: 30%;
  margin-left: 30px;
}
.cp_stepflow01 {
  font-size: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 1em;
  padding: 0;
}
.cp_stepflow01 > li {
  position: relative;
  display: block;
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  text-overflow: ellipsis;
  color: #b0bec5;
  -ms-flex: 1;
  -moz-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

// 丸いやつ
.cp_stepflow01 > li .bubble {
  width: 15px;
  height: 15px;
  display: block;
  margin: 7px auto 0.5em;
  border-radius: 1000px;
  background-color: #b0bec5;
  z-index: 2;
}

// 丸を繋ぐ棒
.cp_stepflow01 > li .bubble::after,
.cp_stepflow01 > li .bubble::before {
  position: absolute;
  top: 24px;
  display: block;
  width: 100%;
  height: 3px;
  content: '';
  background-color: #b0bec5;
  z-index: 1;
}

// 登録完了範囲を明示する記述、.completedクラスを付与すると赤色になる
.cp_stepflow01 > li.completed,
.cp_stepflow01 > li.completed .bubble {
  color: $merukari-red;
  z-index: 2;
}
.cp_stepflow01 > li.completed .bubble,
.cp_stepflow01 > li.completed .bubble::after,
.cp_stepflow01 > li.completed .bubble::before {
  background-color: $merukari-red;
  z-index: 2;
}
.cp_stepflow01 > li:last-child .bubble::after,
.cp_stepflow01 > li:last-child .bubble::before {
  width: 0%;
  margin-right: 50%;
}

// 現在進行中の位置を明示する記述、.active_stepクラスを付与すると赤色になる
.cp_stepflow01 > li.active_step,
.cp_stepflow01 > li.active_step .bubble {
  color: $merukari-red;
  z-index: 2;
}
.cp_stepflow01 > li.active_step .bubble,
.cp_stepflow01 > li.active_step .bubble::before {
  background-color: $merukari-red;
  z-index: 2;
}
