.step_bar {
  width: 50%;
  height: 30%;
  margin-left: 30px;
}
.cp_stepflow01 {
    font-size: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 1em;
    padding: 0;
}
.cp_stepflow01 > li {
    position: relative;
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    text-overflow: ellipsis;
    color: #b0bec5;
    -ms-flex: 1;
    -moz-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}
.cp_stepflow01 > li .bubble {
    display: block;
    width: 15px;
    height: 15px;
    margin: 7px auto 0.5em;
    border-radius: 1000px;
    background-color: #b0bec5;
    z-index: 2;
}
.cp_stepflow01 > li .bubble::after,
.cp_stepflow01 > li .bubble::before {
    position: absolute;
    top: 24px;
    display: block;
    width: 100%;
    height: 3px;
    content: '';
    background-color: #b0bec5;
    z-index: 1;
}
.cp_stepflow01 > li.completed,
.cp_stepflow01 > li.completed .bubble {
    color: #ea352d;
}
.cp_stepflow01 > li.completed .bubble,
.cp_stepflow01 > li.completed .bubble::after,
.cp_stepflow01 > li.completed .bubble::before {
    background-color: #ea352d;
}
.cp_stepflow01 > li:last-child .bubble::after,
.cp_stepflow01 > li:last-child .bubble::before {
    width: 0%;
    margin-right: 50%;
}
.cp_stepflow01 > li.active_step,
.cp_stepflow01 > li.active_step .bubble {
    color: #ea352d;
}
.cp_stepflow01 > li.active_step .bubble,
.cp_stepflow01 > li.active_step .bubble::before {
    background-color: #ea352d;
}

// header部分
.sign-up__header{
  display: flex;
  justify-content: center;
  padding: 40px 80px 30px 80px;
  &--image{
    width: 190px;
    height: 50px;
  }
}

// メインコンテナの部分
.sign-up__main{
  width:700px;
  margin:0 auto;
  background-color: #f5f5f5;
  &__header{
    border-bottom: solid 2px #f5f5f5;
    background-color: white;
    text-align: center;
    &__main-title{
      padding: 32px;
      font-size: 22px;
      font-weight: bold;
    }
  }
  &__body {
    margin:0 auto;
    background-color: white;
    padding: 40px 40px 64px;
    &__forms-container{
      max-width: 320px;
      margin: 0 auto;
      input.phone {
        height: 45px;
        border-radius: 5px;
        border: 1px solid #f5f5f5;
      }
      label.attention {
        margin-bottom:10px;
        background-color: #ea352d;
        border: solid 1px #ea352d;
        border-radius: 3px;
        color: white;
        font-size: 12px;
        font-weight: 300;
      }

// formの入れ子（inputやselectの中身のことではない)
      &__form-box{
        width: 100%;
        padding: 20px 0;
        display: block;
        font-weight: 600;
        select{
          height: 50px;
          width: 70px;
          background-color: white;
        }
        .phone{
          margin-top: 5px;
          padding: 15px 8px;
          border-radius: 5px;
          border: 1px solid #ccc;
          width: 100%;
          
        }
        &__inner{
          font-weight: 400;
          input{
            margin-top: 10px;
            padding: 15px 0 15px 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 97%;
            font-weight: 300;
          }
          input.big{
            margin-top: 10px;
            padding: 15px 0 15px 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 97%;
            font-weight: 300;
          }
          select{
            margin-top: 5px;
            padding: 15px 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 100%;
          }
        }
        h4{
          padding: 10px 0;
          font-weight: 200;
        }
        h4.birth {
          padding: 10px 0;
        }
        input.phone-authentication-btn{
          text-align: center;
          border: solid 1px #ea352d;
          height: 50px;
          width: 100%;
          line-height: 40px;
          background-color: #ea352d;
          color: white;
          margin: 30px 0;
          font-weight: 300;
        }
        .form__link {
          padding: 10px 0 20px 160px;
          a.link1 {
            color: #0099e8;
          }
        }
        .card__logo {
          display: flex;
          list-style: none;
          padding-top: 10px;
          li {
            margin-right: 3px;
            list-style: none;
          }
        }
        input.buttom1 {
          text-align: center;
          border: solid 1px #ea352d;
          height: 50px;
          width: 100%;
          line-height: 40px;
          background-color: #ea352d;
          color: white;
        }
        &__card-select-box{
          margin-top: 10px;
          select{
            width: 100px;
          }
        }
      }
    }
  }

// step3
  .sing-up__form-boxphone {
    padding: 10px 0;
    display: block;
    border-bottom: solid 1px #b0bec5;
    &__birth__field {
      padding-top: 10px;
    }
  }
// step4
  .sing-up__form-box{
    input.form {
      margin-top: 3px;
    }
  }
  label.select {
    background-color: rgb(226, 222, 222);
    border: solid 5px rgb(226, 222, 222);
    border-radius: 3px;
    color: white;
    font-size: 12px;
  }
  // step5
  .sing-up__form-box{
    .card__logo {
      display: flex;
      list-style: none;
      padding-top: 10px;
      li {
        margin-right: 3px;
        list-style: none;
      }
    }
  }
}

// 共通部分のfooter
.sign-up__footer{
  width: 456px;
  height: 220px;
  margin: 0 auto;
  text-align: center;
  padding:40px;
  nav{
    margin: 0 auto;
    ul{
      display: block;
      text-align: center;
      li{
        display:inline-block;
        color:black;
        list-style: none;
        margin:0 10px;
        font-size:12px;
        text-align: center;
      }
    }
  }
  a{
    .single-footer-logo{
      width: 65px;
      height: 80px;
    }
  }
  .footer-campany-name{
    font-size:9px;
  }
}


// formの入力部分のcss
#form.done {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  a.buttom1 {
    text-align: center;
    border: solid 1px #ea352d;
    height: 40px;
    line-height: 40px;
    background-color: #ea352d;
    color: white;
    padding: 10px 50px;
  }
}
img.card {
  height: 20px;
  width: 32px;
}

// 通常のフォーム（1行あたり1フォームのもの）
input.big {
  margin-top: 5px;
  padding: 15px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}
select.big {
  margin-top: 5px;
  padding: 15px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

// 小さいフォーム（1行あたり2フォームのもの）
input.small{
  &-left{
    margin: 5px 10px 0 0;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 60%;
  }
  &-right{
    margin: 5px 0 0 10px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 60%;
  }
}

input.mini {
  margin-top: 5px;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 60px;
}
input.phone {
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}
li.form {
  display: flex;
}


.complete-footer{
  position: relative;
  justify-content: space-between;
  img.complete{
    height: 270px;
    width: 100%;
  }
  &__inner{
    color: white;
    &__index{
      text-align: center;
      position: absolute;
      top: 60px;
      .smartphone{
        font-size: 15px;
      }
      .download{
        font-size: 30px;
      }
    }
    &__icon{
      position: absolute;
      bottom: 50px;
      img.banner-icon{
        float: left;
        height: 40px;
        width: 40px;
        padding-left: 25px;
      }
      img.banner-button{
        height: 40px;
        width: 120px;
      }
    }
  }
  img.banner-image{
    height: 270px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  ul{
    display: flex;
    margin-left: 24px;
    
    a{
      padding-left: 20px;
      &:hover{opacity:0.6;}
    }
  }
}