.app-banner-pc {
  display: block;
  overflow: hidden;
  position: relative;
  height: 260px;
  margin: 0 auto;
  color: #fff;
  background-image: url('image-footer.png');
  background-position: center;
  background-size: cover;
}

.global-footer {
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 0px 20px 10px;
  background: rgb(33, 33, 33);
  text-align: center;
}

.clearfix{
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.global-footer a {
  color: #fff;
  font-size: 14px;
  line-height: 1.5em;
  display: inline-block;
  opacity: 0.5;
  text-decoration: none;
}


.footer-cell {
  padding-top: 15px ;
  padding-left: 70px;
  width: 20%;
  display: block;
  float: right;
  margin-top: 18px;
  text-align: left;
}

.full-width {
  padding-top: 15px ;
  width: 30%;
  display: block;
  float: right;
  margin-top: 18px;
}

.footer-head {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.footer-social-link {
  display: inline-block;
  position: relative;
  top: 50px;
}

.footer-bottom {
  display: flex;
}


.footer-logo {
  margin-left: 17%;
}

.footer-copyright {
  line-height: 2.5;
  margin-left: 32%;
}

.contents__btn--facebook {
  font-size: 40px;
  margin-right: 20px;
}

.footer-nav-lang {
  padding: 15px 70px 0 0;
  width: 20%;
  display: block;
  float: right;
  margin-top: 18px;
  text-align: left;
}

.full-width {
  text-align: left;
}