.logout-bread-crumbs {
  height: 49px;
  width: 100%;
  position: relative;
  border-top: 2px solid #eee;
  background: #f5f5f5;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
}

.logout-bread-crumbs {
  display: inline-block;
  & a {
    font-size: 14px;
    margin-right: 5px;
    line-height: 3.2;
    color: darkgray;
  }
  & a {
    display: inline-block;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    font-weight: bold;
  }
  & a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: $merukari-red;
    
  }
  & span {
    font-size: 16px;
    font-weight: 500;
  }
}
.logout-bread-crumbs-box {
  width: 300px;
  height: 35px;
  margin-left:15%; 
}

.logout-main {
  width: 100%;
  display: flex;
  background: $merukari-gray;

  &__left {
    flex-basis: 280px;
    margin-top: 40px;
    margin-left: 15%;
  }

  &__right {
    float: right;
    width: 700px;
    margin: 40px;
    margin-right: 40px;
  
    &__content {
        margin: 0;
        background: #fff;
        height: 179px;
        display: flex;
        justify-content:center;
        align-items:center;
      .logout-btn{
        background: $merukari-red;
        border: 1px solid $merukari-red;
        color: #fff;
        width: 60%;
        line-height: 48px;
        font-size: 14px;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        text-decoration: none;     
      }
    }
  }
}
