.main-header {
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-weight: 500;
  position: relative;
  z-index: 1001;
  background: rgb(255, 255, 255);
  text-align: center;
  display: block;
  color: #333;
  &-inner {
    display: inline-block;
    width: 1000px;
    margin: 0 auto;
    padding: 8px 0 0;
    text-decoration: none;
    &-top{
      width: 1000px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__left{
        display: inline-flex;
        width: 19%;
      }
      &-right{
        width: 81%;
        display: inline-flex;
        box-sizing:border-box;
        &-form{
          display: inline-block;
          input{
            width:800px;
            margin-top:10px;
          }
        }
        &-musimegane{
          margin-top:10px;
          display: inline-block;
          position: relative;
          .fa.fa-search {
            position: absolute;
            right:10px;
            bottom:12px;
            background: #f5f5f5;
            border-top-right-radius: 4px;
            border-bottom-right-radius:4px;
            cursor: pointer;
            font: 14px FontAwesome;
            color: black;
          }
        }
      }
    }
  }
}




.input-default {
  background: #f5f5f5;
  border-radius: 4px;
  padding: 0 42px 0 10px;
  width: 100%;
  height: 40px;
}



//ヘッダーカテゴリー
.main-header-nav-root.list-parent {
  font-weight: 700;
  float: left;
}
.main-header-nav {
  display: block;
  color: #333;
  &-box {
    margin: 8px 0 0;
    padding: 0;
  }

}
.l-left {
  float: left;
  .fa{
  color: #ea352d;
  }
}

.main-header-cat-brand-icon {
  color: #ea352d;
  font-size: 12px;
  margin-right: 4px;
}
.main-header-nav-root {
  position: relative;
  height: 44px;
  line-height: 32px;
  &:hover{
    color:$merukari-blue;
  }
  span{
  vertical-align: middle;
  display: inline-block;
  }
}

.main-header-nav>li {
  position: relative;
  display: inline-block;
  padding: 0 11px;
  cursor: pointer;
}

.l-right {
  float: right;
  line-height: 2.5;
  color: #333;
}

.main-header-nav h2 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.main-header-user-nav>li {
  position: relative;
  display: inline-block;
  padding: 0 7px;
  cursor: pointer;
}

.main-header-menu-link{
  &:hover{
    color:$merukari-blue;
  }
  a{
    color:black;
    &:hover{
      color:$merukari-blue;
    }
  }
}

.main-header-user-nav .icon-bell {
  font-size: 20px;
}
.main-header-user-nav>li i {
  color: #ccc;
}
.login-link{
  color: #0099e8;
  border: 1px solid #0099e8;
  padding:8px 10px;
  border-radius: 5px;
  text-decoration: none;
}
.registration-link{
  color: white;
  background-color: #ea352d;
  border: 1px solid;
  padding:8px 10px;
  border-radius: 5px;
  text-decoration: none;
}

//メイン
.slider-wrapper{
  background-color: #EEEDEB;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#css-slider {
	width: 100%;
	height: 380px;
	overflow: hidden;
}
 
.slider-wrapper {
  width: 300%;
	position: relative;
	left: 0;
  will-change: transform;
  animation: slider 25s infinite;
  display: flex;
  .slide-item {
    width: 33.3%;
    height: 380px;
    position: relative;
    img{
      width: 100%;
      height: 380px;
    }
  }
}

@keyframes slider {
  0% { transform: translateX(0); }
  13% { transform: translateX(-33.3%); }
  25% { transform: translateX(-33.3%); }
  38% { transform: translateX(-66.6%); }
  50% { transform: translateX(-66.6%); }
  63% { transform: translateX(-33.3%); }
  75% { transform: translateX(-33.3%); }
  88% { transform: translateX(0); }
  100% { transform: translateX(0); }
}


//カテゴリー
.pickup{
  background: #f5f5f5;
  padding: 40px 0;
  margin-top: -10px;
  &__heading{
    font-size: 28px;
    text-align:center;
    font-weight:bold;
  }
  &__item{
    width: auto;
    margin: 0 auto;
    &__category{
      font-size: 22px;
      margin: 26px 11px;
      text-align: center;
      font-weight:bold;
      &__title{
        color: #0099e8;
        text-decoration: none;
        margin-bottom: 15px;
      }
    }
    &__all__link {
      text-align: right;
      width: 78%;
      color:#0099e8;
      font-weight:bold;
    }
    &__box{
      width: auto;
      margin: 0 auto;
      display:inline-block;
      &__content{
        margin: 0 0 0 15px;
        width: 213px;
        display:inline-block;
        height: 277px;
        &__link{
          z-index: 0;
          width: 100%;
          height: 213px;
          position: relative;
          .pickup__item__price {
            width: 40%;
            align-items: center;
            background: rgba(0,0,0,.4);
            border-radius: 0 14px 14px 0;
            // -webkit-box-sizing: border-box;
            // box-sizing: border-box;
            color: #fff;
            // display: -webkit-inline-box;
            // display: -ms-inline-flexbox;
            // display: inline-flex;
            font-size: 17px;
            line-height: 32px;
            height: 32px;
            // height: 28px;
            letter-spacing: .02em;
            // margin: 0;
            // padding-left: 5px;
            position: absolute;
            bottom: 8px;
            left:0;
            z-index: 2;
            // margin-left:-213px;
          }
          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: relative;
          }
          &__body{
            background: #FFF;
            padding: 16px;
            font-size: 16px;
            height: 67px;
            &__num{
              display: flex;
              justify-content: space-between;
              padding-top: 20px;
              &__name{
                font-size: 16px;
                height: 3em;
                line-height: 1.5;
                word-break: break-word;
                white-space: normal;
              }
              &__num__price{
                margin: 8px 0 0;
                font-size: 17px;
              }
              &__figure{
                width: 213px;
                height: 220px;
                &__image{
                  width: 213px;
                  height: 220px;
                }
              }
            }
          }
        }
      }
    }
  }
}

body {
  position: relative;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}


  .buy-error a {
    display: block;
    margin: 16px 0 0;
    color: #0099e8;
    text-decoration: none;
    font-size: 14px;
    padding-right: 40%;
    }


    .pickup__item__box__content {
      box-shadow: 2px 2px 8px gray;
      &__link__body{
        padding-top: 30px;
        font-weight: 500;
      }
    }
    .pickup__item__box__content__link__body{
      padding: 0 12px;
      height: 64px;
      line-height: 1.4em;
      text-align: left;
      &__name  {
      display: -webkit-inline-box;
      box-sizing: border-box;
      color: #222;
      font-size: 14px;
      white-space: normal;
      word-break: break-word;
      padding-top: 10px;
      }
    }
