///////パンくずlist//////
.bread-crumbs {
  height: 49px;
  width: 100%;
  position: relative;
  border-top: 2px solid #eee;
  background: #f5f5f5;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
}

.bread-crumbs {
  display: inline-block;
  & a {
    font-size: 14px;
    margin-right: 5px;
    line-height: 3.2;
    color: darkgray;
  }
  & a {
    display: inline-block;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    font-weight: bold;
  }
  & a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #ea352d;
    
  }
  & span {
    font-size: 16px;
    font-weight: 500;
  }
}
.bread-crumbs-box {
  width: 300px;
  height: 35px;
  margin-left:22%; 
}
//////////////////////////////////////

.mypage-nav-list {
  height: 685px;
  width: 280px;
  background-color: aqua;
}

.l-container {
  margin: 40px auto 0;
  width: 1020px;
}

.l-chapter-container {
  margin: 0;
  background: #fff;
  margin-left: 50px;

}

.l-chapter-head {
  font-size: 24px;
  padding: 8px 24px;
  color: black;
  width: 600px;
  height: 50px;
  text-align: center;
  line-height: 2;
}

.setting-profile-icon {
  padding: 72px 16px 24px;
  background: url("http://www.kimoto-sbd.co.jp/downloads/2011/04/14/circle_72.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 0;
}


.setting-profile-icon figure {
  display: inline-block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-right: 5px;
}

.setting-profile-content {
  padding: 40px 16px;
}

.setting-profile-content .textarea-default {
  min-height: 216px;
}

.textarea-default {
  display: block;
  max-width: 100%;
  min-height: 104px;
  padding: 0px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.setting-profile-content .btn-red {
  margin: 16px 0 0;
}

.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

